* {
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing:border-box;
    text-decoration:none;
    font-family:Arial;
    font-weight:normal;
   /* border:1px solid #fff; */
}

header {
    width:100%;
    background-color:#fff;
    display:flex;
    border: 1px solid #ddd;
    height:120px;
    align-items:center;
    justify-content:space-between;
    padding-left:140px;
}

#left-side {
    height:100%;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}

#float-logo {
    position:absolute;
    left:20px;
    top:30px;
    width:100px;
}

nav {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.nav-links {
    margin:20px;
}

#remove-margin {
    margin-right:0px;
}

nav a {
    padding-right:20px;
    color:#333;
    font-size:14px;
}


#search-box {
    margin-top:20px;
    background-color:#fff;
    border: 1px solid #ddd;
    padding:12px 20px;
    font-size:18px;
    width:600px;
    border-radius:40px;
    height:48px;
}

#main-doc {
    width:100%;
    height:100%;
    
    padding-left:160px;
    background-color:#fff;
}
#results-count {
    padding: 16px 0px;
    font-size:14px;
}
.search-result {
    margin: 20px 0px 40px 0px;
    width:480px;
}
.search-result h3 {
    font-size:14px;
    color:gray;
    text-decoration:none;
    margin: 4px 0px;
}
.search-result h2 {
    font-size:20px;
    font-weight:normal;
    margin: 4px 0px;
}
.search-result button {
    width:24px;
    height:24px;
    float:right;
}
